<div class="row">
  <div class="form-group search-div">
    <div class="col-md-1"></div>
    <div class="col-md-5 input-box-div">
      <div class="col-md-9">
        <label for="search">Search</label>
        <input
          type="text"
          class="form-control"
          id="search"
          name="search"
          placeholder="Search a dish to add to your meal"
          [(ngModel)]="searchItem">
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-primary search-button"
          (click)="onSearch()">
          Search
        </button>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<div class="row div-dish-list-item-detail">
  <div class="col-md-1"></div>
  <div class="col-md-5 div-dish-list" id="searchResults">
    <app-dish-list></app-dish-list>
  </div>
  <div class="col-md-6">
      <div class="div-dish-detail">
        <app-dish-detail
          *ngIf="selectedDish; else infoText"
          [dish]="selectedDish">
        </app-dish-detail>
        <ng-template #infoText>
          <h4>Please Select a Recipe</h4>
        </ng-template>
      </div>
      <h4>Your Meal is here</h4>
      <div class="div-meal">
        <app-meal></app-meal>
      </div>
  </div>
</div>
